body {
    background-color: rgba(211,211,211,.10);
    font-family: 'Corbel', 'Verdana', 'Helvetica';
    margin: 60px auto;
    width: 70%;
}

nav {
    top: 0;
    width: 100%
}

.banner img{
    width: 100%;
}

.container {
    margin-top: 50px;
}

nav ul, footer ul{
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #5c5757;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    clear: both;
    font-size: .8em;
}

.header {
    font-size: 2em;
    height: 64px;
    padding: .5em;
    width: 100%;
}

.header img{
    float: left;
    height: 64px;
    margin-right: 5px;
}

#landing {
    background-image: url("/images/insta.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-weight: bolder;
    margin-bottom: 5px;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 50%;
    text-align: center;
}

#landing-bkgrd {
    background-color: rgba(211,211,211,0.75);
    padding-bottom: 1px;
}

#landing h1 {
    font-size: 4em;
    margin: 0px;
}

#left {
    float: left;
    margin-right: 2em;
    max-width: 50%;
}

#left img {
    max-height: 100%;
    max-width: 100%;
}
.section {
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
}

.section img{
    float: left;
    max-width: 100%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
