<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to icons -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
		        	<li><a href="/about">ABOUT</a></li>
	        		<li><a href="/proj">PROJECTS</a></li>
	        		<li><a href="/dreams">ASPIRATIONS</a></li>
	    		</ul>
			</nav>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:wendyl.y.123@gmail.com"><i class="fa-envelope"></i></a></li>
	        		<li><a href="https://www.linkedin.com/in/wliang25/"><i class="fa-linkedin"></i></a></li>
	        		<li><a href="https://github.com/wliang25"><i class="fa-github"></i></a></li>
	        		<li><i class="fa-copyright"></i> Wendy Liang 2017</li>
				</ul>
				
			</footer>
		</body>
	</html>
