<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/proj">Projects</a></li>
	        		<li><a href="/dreams">Dreams N Aspirations</a></li>
	    		</ul>
			</nav>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:wendyl.y.123@gmail.com"><img src="/images/email.png", alt="Email Me"></a></li>
	        		<li><a href="https://www.linkedin.com/in/wliang25/"><img src="/images/linkedin.png", alt="Connect with Me"></a></li>
	        		<li><a href="https://github.com/wliang25"><img src="/images/github.png", alt="See My Work"></a></li>
				</ul>
				<p><img src="/images/copyright.png", alt="Copyright"> Wendy Liang 2017</p>
			</footer>
		</body>
	</html>
